.floating-cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.cart-button-floating {
    
    color: var(--gold);
    font-size: 22px;
    border: none;
    border-radius: 50%;
    padding: 14px 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cart-button-floating:hover {
   color: var(--gold-dark);
}

.cart-button-floating:hover, .cart-count-floating:hover{
   color: var(--gold-dark);
}

.cart-count-floating:hover{
   background-color: var(--gold-dark);
   color: white;
}

.cart-count-floating {
    position: absolute;
    top: -5px;
    right: 5px;
    background-color: var(--gold);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}
