
:root {
	--gold: #daaf5a;
	--gold-dark: #b08c3e;
	--dark: #121212;
	--darker: #0a0a0a;
	--light: #ffffff;
	--gray: #2d2d2d;
	--light-gray: #aaaaaa;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: var(--dark);
	margin: 0;
	padding: 0;
	flex-direction: column;
}



.login-box {
	background: var(--dark);
	color: var(--gold);
	width: 320px;
	padding: 30px 20px;
	border-radius: 8px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
	position: relative;
	margin: 160px auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.login-icon {
	width: 60px;
	height: 60px;
	background-color: var(--dark);
	border-radius: 50%;
	margin: -60px auto 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 400;
}

.input-group {
	position: relative;
	margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px 35px 10px 10px; /* déjà bon */
    border: none;
    border-radius: 4px;
    color: var(--dark);
    font-size: 14px;
    box-sizing: border-box; /* AJOUTER CETTE LIGNE */
}


.input-group i {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--gold);
}

.login-btn {
	background: transparent;
	color: #ecf0f1;
	border: 1px solid #ecf0f1;
	padding: 10px;
	border-radius: 4px;
	width: 100%;
	cursor: pointer;
	transition: 0.3s;
}

.login-btn:hover {
	background-color: var(--gold);
	border-color: var(--gold);
	color: #fff;
}

.login-options {
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin-top: 10px;
	color: #bdc3c7;
}



.login-options a {
	color: var(--gold);
	text-decoration: none;
}

.login-options a:hover{
	color: var(--gold-dark);
	text-decoration: underline;
}

.register-link {
	text-align: left;
	margin-top: 20px;
	font-size: 13px;
	color: #bdc3c7;
}

.register-link a {
	color: var(--gold);
	text-decoration: underline;
	margin-left: 5px;
}

.register-link a:hover {
	text-decoration: none;
	color: var(--gold-dark)
}

/* Close bouton */
.close {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 24px;
	font-weight: bold;
	color: var(--gold);
	cursor: pointer;
	z-index: 100;
}

.close:hover {
	color: var(--gold-dark);
}

@media (max-width: 600px) {
	.login-box {
		width: 90%;
		margin: 100px auto;
		padding: 25px 15px;
	}

	.login-icon {
		width: 50px;
		height: 50px;
		font-size: 20px;
		margin: -50px auto 10px;
	}

	.login-box h2 {
		font-size: 14px;
	}

	.input-group input {
		font-size: 13px;
		padding: 10px 35px 10px 10px;
	}

	.login-btn {
		font-size: 14px;
		padding: 10px;
	}

	.login-options {
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
	}

	.register-link {
		font-size: 12px;
	}

	.close {
		font-size: 20px;
		top: 8px;
		right: 10px;
	}
}
